.students-list-container {
  border: solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.students-list-container-header {
  font-size: 20px;
  font-weight: 600;
}

.student-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.student-name-container {
  display: flex;
  flex: 3;
  font-size: 18px;
  padding-left: 30px;
}

.student-options {
  display: flex;
  justify-content: left;
  flex: 2;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 30px;
}

.delete-button-container {
  display: flex;
}

.delete-button {
  border: none;
  background-color: red;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.selection-button {
  margin-left: 10px;
}

.edit-button {
  width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 0px;
}

.edit-img {
  width: 15px;
  object-fit: contain;
}

.edit-name {
  font-size: 14px;
  flex: 1;
  margin-right: 10px;
}

.save-button {
  margin-right: 10px;
}